<!-- Page Content -->
<div class="container-fluid">

  <header>
    <!-- Page Heading -->
    <h1 class="my-4" [ngClass]="{'text-info': fetchingData}"> {{ title }}
    </h1>
    <h2>{{ subtitle }}</h2>

    <span *ngIf="headlines != undefined">Number of articles: {{ headlines.articles.length | number }}</span>


    <form class="my-1" [formGroup]="rForm" (submit)="getHeadlines(rForm.value)">
      <button class="btn btn-primary" type="submit">Search</button>
      <div class="row">
        <div class="col">
          <div class="form-group my-1">
            <label for="topic">Topic</label>
            <input type="text" class="form-control" formControlName="topic" id="topic" aria-describedby="topic" placeholder="Enter topic">

          </div>
        </div>
      </div>
    </form>
    <hr>
  </header>
</div>
<div *ngIf="headlines != undefined">

  <div class="articles" *ngFor="let headline of headlines.articles; index as i">

    <div class="container-fluid">


      <div class="row py-1">
        <div class="col-md-7">
          <a [href]="headline.url">

            <img class="img-fluid rounded" [src]="headline.urlToImage" [title]="headline.title" alt="Article image">

          </a>
        </div>
        <div class="col-md-5">
          <h2>
            {{i + 1 | number }}:
            <a [href]="headline.url">{{ headline.title }}</a>

          </h2>

          <p>{{ headline.description }}</p>
          <a class="btn btn-outline-primary btn-link" [href]="headline.url">Read the article</a>


        </div>
      </div>
      <hr>

    </div>
  </div>

</div>

<!-- /.container -->
