<div class="py-5" *ngIf="(sources$ | async) as sources">
  <div class="row">
    <div class="col-12" *ngFor="let source of sources.sources; index as i">
      <ul class="list-group mb-5">
        <li class="list-group-item">
          Name: {{ source.name }} <span class="badge badge-primary pull-right">{{ i + 1 }}</span>
        </li>
        <li class="list-group-item">Description: {{ source.description }}</li>
        <li class="list-group-item">Category: {{ source.category }}</li>
        <li class="list-group-item">
          Url: <a [href]="source.url">{{ source.url }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
