<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron text-center my-5">
        <h1 class="display-4">News app</h1>
        <p class="lead">Search for news from various sources</p>
        <hr class="my-4">
        <p>Lookup hottest headlines or search by topic in multiple languages and categories.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/headlines">Try now!</a>
        </p>
      </div>
    </div>
  </div>
</div>

