.sk-circle .sk-child:before {
  background-color: #fff;
}

img:before {
  content: "We're sorry, this image is broken :(";
  display: block;
  margin-bottom: 10px;
}


.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}
