<section class="py-5" #form>
  <div class="row">
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
      <app-headlines-form
        (receiveHeadlines)="receiveHeadlines($event)"
      ></app-headlines-form>
    </div>
  </div>
</section>

<ng-container *ngIf="vm$ | async as vm">
  <h1 *ngIf="vm.loading">Please wait</h1>

  <app-articles [articles]="vm.headlines.articles"></app-articles>

  <app-page-buttons
    [page]="vm.searchCriteria.page"
    [pageSize]="vm.searchCriteria.pageSize"
    [numberOfArticles]="vm.headlines.articles.length"
    (pageIncrease)="pageIncrease(form)"
    (pageDeacrease)="pageDecrease(form)"
  ></app-page-buttons>
</ng-container>
