<!-- Page Content -->
<section class="container-fluid">

  <header>

    <span *ngIf="headlines != undefined">Number of articles: {{ headlines.articles.length | number }}</span>

    <form [formGroup]="form" (ngSubmit)="getHeadlines(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model">
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
      </formly-form>
    </form>
    <hr>
  </header>
</section>

<div *ngIf="showSpinner" class="sk-circle">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>


<section *ngIf="headlines != undefined">
  <div class="articles" *ngFor="let headline of headlines.articles; index as i">
    <div class="container-fluid">
      <div class="row py-1">
        <div class="col-md-7">
          <a [href]="headline.url">
            <img class="img-fluid img-thumbnail rounded mx-auto d-block border border-light"
                 [src]="headline.urlToImage"
                 [title]="headline.title"
                 alt="Article image">
          </a>
        </div>
        <div class="col-md-5">
          <h5 class="text-center">
            <span class="badge badge-light pull-left">{{i + 1 | number }}</span>
            <a [href]="headline.url">{{ headline.title }}</a>
          </h5>
          <p class="mb-2 p-0"><strong>Source: {{headline.source.name}}</strong></p>
          <p class="mb-2 p-0"><strong>Author: {{headline.author}}</strong></p>
          <p class="mb-2 p-0"><strong>{{headline.publishedAt | date:'mediumDate'}}</strong></p>
          <p class="mb-2 p-0">{{ headline.description }}</p>
          <a class="btn btn-outline-primary btn-link" [href]="headline.url">Read the article</a>
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>
